* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

.header header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    flex-wrap: wrap;
}

.titleAndMenu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titleAndMenu h1 {
    font-weight: 700;
}

.titleAndMenu nav ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.titleAndMenu nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    transition: 0.2s;
}

.titleAndMenu nav ul li a:hover {
    background-color: hsl(26, 100%, 55%);
    color: white;
}

.avatarAndCart #imageAvatar {
    max-width: 45px;
    margin-left: 1.5rem;
}

/* CONTAINER */
.container {
    display: flex;
}

.imagesSneakers {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.imagesSneakers #mainSneaker {
    max-width: 400px;
    border-radius: 8px;
}

.imagesSneakers .groupSneakers {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
}

.groupSneakers img {
    max-width: 80px;
    border-radius: 8px;
    cursor: pointer;
}

.groupSneakers img:hover {
    filter: brightness(80%);
}

.descriptionsProduct {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.titleDescriptionProduct {
    font-weight: 700;
    font-size: 3rem;
}

.descriptionsProduct p {
    max-width: 450px;
    text-align: justify;
    color: hsl(219, 9%, 45%);
}

.prices {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
}

.prices h4 {
    font-weight: 700;
    margin-bottom: 0;
}

.prices .discount {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 5px;
}

.addToCart {
    display: flex;
    align-items: center;
    max-width: 450px;
    justify-content: space-between;
}

.quantSneakers {
    height: 60px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    justify-content: space-around
}

.quantSneakers button {
    padding: 10px;
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 20px;
    border: none;
    outline: none;
}

#addToCartButton {
    background-color: hsl(26, 100%, 55%);
    padding: 15px 80px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.226);
    cursor: pointer;
    transition: 0.3s;
}

#addToCartButton img {
    margin-right: 10px;
    margin-bottom: 5px;
}

/* responsive */
@media (max-width: 995px) {
    .container {
        flex-direction: column;
    }

    .container .titleAndMenu {
        flex-direction: column;
    }

    .container .titleAndMenu nav ul {
        margin: 20px 0;
        padding-left: 0;
    }

    .imagesSneakers, .descriptionsProduct {
        width: 100%;
        text-align: center;
    }

    .imagesSneakers img {
        width: 100%;
    }

    .groupSneakers {
        width: 80%;
    }

    .descriptionsProduct {
        padding: 50px 10px;
    }

    .descriptionsProduct p {
         max-width: 100%;
    }

    .sneakerPrice {
        margin: auto;
    }

    .addToCart {
        flex-direction: column;
        gap: 20px;
        margin: auto;
    }
}

@media(max-width: 475px) {
    .container .titleAndMenu nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .imagesSneakers .groupSneakers img {
        max-width: 70px;
    }
}

@media(max-width: 330px) {
    #addToCartButton {
        display: flex;
        flex-direction: column;
    }

    #addToCartButton img {
        margin: 0;
        align-items: center;
    }
}